[flavor]
dark = "{{yazi_flavor}}"

# Override status bar segment colors
[mode]
normal_main = { fg = "{{selection}}", bg = "{{blue}}", bold = true }
normal_alt = { fg = "{{blue}}", bg = "{{selection}}" }
