// General
attach_to_session true
copy_on_select true
default_layout "default"
pane_frames false
scroll_buffer_size 10000
session_serialization true
show_startup_tips false
simplified_ui true
styled_underlines true
theme "{{zellij_theme}}"

ui {
    pane_frames {
        rounded_corners true
        hide_session_name true
    }
}

// Plugins
plugins {
    about location="zellij:about"
    configuration location="zellij:configuration"
    compact-bar location="zellij:compact-bar" {
        tooltip "F1"
    }
    plugin-manager location="zellij:plugin-manager"
    session-manager location="zellij:session-manager"
    zellij-loom location="file:~/.config/zellij/plugins/zellij-loom.wasm" {
        keybind_mode "vim"
    }
    autolock location="file:~/.config/zellij/plugins/zellij-autolock.wasm" {
        is_enabled true
        triggers "nvim|vim|git|fzf|zoxide|atuin"
        reaction_seconds "0.3"
    }
}

load_plugins {
    autolock
    "$HOME/.config/zellij/plugins/zjframes.wasm" {
        hide_frame_except_for_fullscreen true
        hide_frame_except_for_scroll true
        hide_frame_except_for_search true
        hide_frame_for_single_pane true
    }
}

// Keybinds
keybinds clear-defaults=true {

    // Mode: locked
    locked {
        bind "Alt g" { SwitchToMode "normal"; }
        bind "Ctrl a" { SwitchToMode "tmux_locked"; }
    }

    // Mode: tmux (Ctrl a)
    tmux {
        bind "Ctrl a" { Write 2; SwitchToMode "normal"; }
        bind "left" { MoveFocus "left"; SwitchToMode "normal"; }
        bind "down" { MoveFocus "down"; SwitchToMode "normal"; }
        bind "up" { MoveFocus "up"; SwitchToMode "normal"; }
        bind "right" { MoveFocus "right"; SwitchToMode "normal"; }
        bind "h" { MoveFocus "left"; SwitchToMode "normal"; }
        bind "j" { MoveFocus "down"; SwitchToMode "normal"; }
        bind "k" { MoveFocus "up"; SwitchToMode "normal"; }
        bind "l" { MoveFocus "right"; SwitchToMode "normal"; }

        bind "w" {
            LaunchOrFocusPlugin "file:~/.config/zellij/plugins/zellij-loom.wasm" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "normal"
        }

        bind "space" { NextSwapLayout; SwitchToMode "normal"; }
        bind "\"" { NewPane "down"; SwitchToMode "normal"; }
        bind "'" { NewPane "down"; SwitchToMode "normal"; }
        bind "-" { NewPane "down"; SwitchToMode "normal"; }
        bind "%" { NewPane "right"; SwitchToMode "normal"; }
        bind ";" { NewPane "right"; SwitchToMode "normal"; }
        bind "\\" { NewPane "right"; SwitchToMode "normal"; }

        bind "s" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "normal"
        }

        bind "[" { MovePaneBackwards; SwitchToMode "normal"; }
        bind "]" { MovePane; SwitchToMode "normal"; }

        bind "t" {
            LaunchOrFocusPlugin "file:~/.config/zellij/plugins/room.wasm" {
                floating true
                ignore_case true
                quick_jump true
                move_to_focused_tab true
            }
            SwitchToMode "normal"
        }
        bind "c" { NewTab; SwitchToMode "normal"; }
        bind "," { SwitchToMode "renametab"; TabNameInput 0; }

        bind "n" { GoToNextTab; SwitchToMode "normal"; }
        bind "p" { GoToPreviousTab; SwitchToMode "normal"; }
        bind "Tab" { GoToNextTab; SwitchToMode "normal"; }
        bind "Shift Tab" { GoToPreviousTab; SwitchToMode "normal"; }

        bind "z" { ToggleFocusFullscreen; SwitchToMode "normal"; }
        bind "f" { ToggleFloatingPanes; SwitchToMode "normal"; }
        bind "r" { SwitchToMode "resize"; }

        bind "<" { PreviousSwapLayout; SwitchToMode "normal"; }
        bind "i" { MoveTab "left"; SwitchToMode "normal"; }
        bind "o" { MoveTab "right"; SwitchToMode "normal"; }
        bind "q" { Quit; }

        bind "1" { GoToTab 1; SwitchToMode "normal"; }
        bind "2" { GoToTab 2; SwitchToMode "normal"; }
        bind "3" { GoToTab 3; SwitchToMode "normal"; }
        bind "4" { GoToTab 4; SwitchToMode "normal"; }
        bind "5" { GoToTab 5; SwitchToMode "normal"; }
        bind "6" { GoToTab 6; SwitchToMode "normal"; }
        bind "7" { GoToTab 7; SwitchToMode "normal"; }
        bind "8" { GoToTab 8; SwitchToMode "normal"; }
        bind "9" { GoToTab 9; SwitchToMode "normal"; }
    }

    // Mode: tmux_locked (Ctrl a from locked mode)
    // Duplicate of tmux mode, but returns to "locked" instead of "normal".
    // Keep in sync with tmux mode above.
    tmux_locked {
        bind "Ctrl a" { Write 2; SwitchToMode "locked"; }
        bind "left" { MoveFocus "left"; SwitchToMode "locked"; }
        bind "down" { MoveFocus "down"; SwitchToMode "locked"; }
        bind "up" { MoveFocus "up"; SwitchToMode "locked"; }
        bind "right" { MoveFocus "right"; SwitchToMode "locked"; }
        bind "h" { MoveFocus "left"; SwitchToMode "locked"; }
        bind "j" { MoveFocus "down"; SwitchToMode "locked"; }
        bind "k" { MoveFocus "up"; SwitchToMode "locked"; }
        bind "l" { MoveFocus "right"; SwitchToMode "locked"; }

        bind "w" {
            LaunchOrFocusPlugin "file:~/.config/zellij/plugins/zellij-loom.wasm" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "locked"
        }

        bind "space" { NextSwapLayout; SwitchToMode "locked"; }
        bind "\"" { NewPane "down"; SwitchToMode "locked"; }
        bind "'" { NewPane "down"; SwitchToMode "locked"; }
        bind "-" { NewPane "down"; SwitchToMode "locked"; }
        bind "%" { NewPane "right"; SwitchToMode "locked"; }
        bind ";" { NewPane "right"; SwitchToMode "locked"; }
        bind "\\" { NewPane "right"; SwitchToMode "locked"; }

        bind "s" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "locked"
        }

        bind "[" { MovePaneBackwards; SwitchToMode "locked"; }
        bind "]" { MovePane; SwitchToMode "locked"; }

        bind "t" {
            LaunchOrFocusPlugin "file:~/.config/zellij/plugins/room.wasm" {
                floating true
                ignore_case true
                quick_jump true
                move_to_focused_tab true
            }
            SwitchToMode "locked"
        }
        bind "c" { NewTab; SwitchToMode "locked"; }
        bind "," { SwitchToMode "renametab"; TabNameInput 0; }

        bind "n" { GoToNextTab; SwitchToMode "locked"; }
        bind "p" { GoToPreviousTab; SwitchToMode "locked"; }
        bind "Tab" { GoToNextTab; SwitchToMode "locked"; }
        bind "Shift Tab" { GoToPreviousTab; SwitchToMode "locked"; }

        bind "z" { ToggleFocusFullscreen; SwitchToMode "locked"; }
        bind "f" { ToggleFloatingPanes; SwitchToMode "locked"; }
        bind "r" { SwitchToMode "resize"; }

        bind "<" { PreviousSwapLayout; SwitchToMode "locked"; }
        bind "i" { MoveTab "left"; SwitchToMode "locked"; }
        bind "o" { MoveTab "right"; SwitchToMode "locked"; }
        bind "q" { Quit; }

        bind "1" { GoToTab 1; SwitchToMode "locked"; }
        bind "2" { GoToTab 2; SwitchToMode "locked"; }
        bind "3" { GoToTab 3; SwitchToMode "locked"; }
        bind "4" { GoToTab 4; SwitchToMode "locked"; }
        bind "5" { GoToTab 5; SwitchToMode "locked"; }
        bind "6" { GoToTab 6; SwitchToMode "locked"; }
        bind "7" { GoToTab 7; SwitchToMode "locked"; }
        bind "8" { GoToTab 8; SwitchToMode "locked"; }
        bind "9" { GoToTab 9; SwitchToMode "locked"; }
    }

    // Mode: pane (Alt p)
    pane {
        bind "left" { MoveFocus "left"; }
        bind "down" { MoveFocus "down"; }
        bind "up" { MoveFocus "up"; }
        bind "right" { MoveFocus "right"; }
        bind "c" { SwitchToMode "renamepane"; PaneNameInput 0; }
        bind "d" { NewPane "down"; SwitchToMode "normal"; }
        bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "normal"; }
        bind "f" { ToggleFocusFullscreen; SwitchToMode "normal"; }
        bind "Tab" { FocusNextPane; SwitchToMode "normal"; }
        bind "h" { MoveFocus "left"; }
        bind "i" { TogglePanePinned; SwitchToMode "normal"; }
        bind "j" { MoveFocus "down"; }
        bind "k" { MoveFocus "up"; }
        bind "l" { MoveFocus "right"; }
        bind "n" { NewPane; SwitchToMode "normal"; }
        bind "p" { SwitchFocus; }
        bind "Alt p" { SwitchToMode "normal"; }
        bind "r" { NewPane "right"; SwitchToMode "normal"; }
        bind "s" { NewPane "stacked"; SwitchToMode "normal"; }
        bind "w" { ToggleFloatingPanes; SwitchToMode "normal"; }
        bind "z" { TogglePaneFrames; SwitchToMode "normal"; }
    }

    // Mode: tab (Alt t)
    tab {
        bind "left" { GoToPreviousTab; }
        bind "down" { GoToNextTab; }
        bind "up" { GoToPreviousTab; }
        bind "right" { GoToNextTab; }
        bind "1" { GoToTab 1; SwitchToMode "normal"; }
        bind "2" { GoToTab 2; SwitchToMode "normal"; }
        bind "3" { GoToTab 3; SwitchToMode "normal"; }
        bind "4" { GoToTab 4; SwitchToMode "normal"; }
        bind "5" { GoToTab 5; SwitchToMode "normal"; }
        bind "6" { GoToTab 6; SwitchToMode "normal"; }
        bind "7" { GoToTab 7; SwitchToMode "normal"; }
        bind "8" { GoToTab 8; SwitchToMode "normal"; }
        bind "9" { GoToTab 9; SwitchToMode "normal"; }
        bind "[" { BreakPaneLeft; SwitchToMode "normal"; }
        bind "]" { BreakPaneRight; SwitchToMode "normal"; }
        bind "b" { BreakPane; SwitchToMode "normal"; }
        bind "h" { GoToPreviousTab; }
        bind "j" { GoToNextTab; }
        bind "k" { GoToPreviousTab; }
        bind "l" { GoToNextTab; }
        bind "n" { NewTab; SwitchToMode "normal"; }
        bind "r" { SwitchToMode "renametab"; TabNameInput 0; }
        bind "s" { ToggleActiveSyncTab; SwitchToMode "normal"; }
        bind "Alt t" { SwitchToMode "normal"; }
        bind "x" { CloseTab; SwitchToMode "normal"; }
        bind "tab" { ToggleTab; }
    }

    // Mode: resize (Alt z)
    resize {
        bind "left" { Resize "Increase left"; }
        bind "down" { Resize "Increase down"; }
        bind "up" { Resize "Increase up"; }
        bind "right" { Resize "Increase right"; }
        bind "+" { Resize "Increase"; }
        bind "-" { Resize "Decrease"; }
        bind "=" { Resize "Increase"; }
        bind "H" { Resize "Decrease left"; }
        bind "J" { Resize "Decrease down"; }
        bind "K" { Resize "Decrease up"; }
        bind "L" { Resize "Decrease right"; }
        bind "h" { Resize "Increase left"; }
        bind "j" { Resize "Increase down"; }
        bind "k" { Resize "Increase up"; }
        bind "l" { Resize "Increase right"; }
        bind "Alt z" { SwitchToMode "normal"; }
    }

    // Mode: move (Alt m)
    move {
        bind "left" { MovePane "left"; }
        bind "down" { MovePane "down"; }
        bind "up" { MovePane "up"; }
        bind "right" { MovePane "right"; }
        bind "h" { MovePane "left"; }
        bind "Alt m" { SwitchToMode "normal"; }
        bind "j" { MovePane "down"; }
        bind "k" { MovePane "up"; }
        bind "l" { MovePane "right"; }
        bind "n" { MovePane; }
        bind "p" { MovePaneBackwards; }
        bind "tab" { MovePane; }
    }

    // Mode: scroll (Alt s) & search
    scroll {
        bind "e" { EditScrollback; SwitchToMode "normal"; }
        bind "s" { SwitchToMode "entersearch"; SearchInput 0; }
    }
    search {
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "n" { Search "down"; }
        bind "o" { SearchToggleOption "WholeWord"; }
        bind "p" { Search "up"; }
        bind "w" { SearchToggleOption "Wrap"; }
    }
    entersearch {
        bind "Ctrl c" { SwitchToMode "scroll"; }
        bind "esc" { SwitchToMode "scroll"; }
        bind "enter" { SwitchToMode "search"; }
    }

    // Mode: session (Alt w)
    session {
        bind "a" {
            LaunchOrFocusPlugin "zellij:about" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "normal"
        }
        bind "c" {
            LaunchOrFocusPlugin "configuration" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "normal"
        }
        bind "Alt w" { SwitchToMode "normal"; }
        bind "l" {
            LaunchOrFocusPlugin "file:~/.config/zellij/plugins/zellij-loom.wasm" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "normal"
        }
        bind "p" {
            LaunchOrFocusPlugin "plugin-manager" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "normal"
        }
        bind "s" {
            LaunchOrFocusPlugin "zellij:share" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "normal"
        }
        bind "w" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "normal"
        }
    }

    // Rename modes
    renametab {
        bind "esc" { UndoRenameTab; SwitchToMode "tab"; }
    }
    renamepane {
        bind "esc" { UndoRenamePane; SwitchToMode "pane"; }
    }
    // TODO: Wait for renamesession
    //       https://github.com/zellij-org/zellij/issues/3626

    // Shared bindings
    shared_except "locked" {
        bind "Alt left" { MoveFocusOrTab "left"; }
        bind "Alt down" { MoveFocus "down"; }
        bind "Alt up" { MoveFocus "up"; }
        bind "Alt right" { MoveFocusOrTab "right"; }

        // TODO: Conflicts with AeroSpace — uncomment when per-app keybinds land
        //       https://github.com/nikitabobko/AeroSpace/issues/412
        // bind "Alt h" { MoveFocusOrTab "left"; }
        // bind "Alt j" { MoveFocus "down"; }
        // bind "Alt k" { MoveFocus "up"; }
        // bind "Alt l" { MoveFocusOrTab "right"; }
        // bind "Alt +" { Resize "Increase"; }
        // bind "Alt -" { Resize "Decrease"; }
        // bind "Alt =" { Resize "Increase"; }

        bind "Alt g" { SwitchToMode "locked"; }
    }
    shared_except "locked" "move" {
        bind "Alt m" { SwitchToMode "move"; }
    }
    shared_except "locked" "session" {
        bind "Alt w" { SwitchToMode "session"; }
    }
    shared_except "locked" "scroll" "search" "tmux" {
        bind "Ctrl a" { SwitchToMode "tmux"; }
    }
    shared_except "locked" "scroll" "search" {
        bind "Alt s" { SwitchToMode "scroll"; }
    }
    shared_except "locked" "tab" {
        bind "Alt t" { SwitchToMode "tab"; }
    }
    shared_except "locked" "pane" {
        bind "Alt p" { SwitchToMode "pane"; }
    }
    shared_except "locked" "resize" {
        bind "Alt z" { SwitchToMode "resize"; }
    }
    shared_except "normal" "locked" "entersearch" {
        bind "enter" { SwitchToMode "normal"; }
    }
    shared_except "normal" "locked" "entersearch" "renametab" "renamepane" {
        bind "esc" { SwitchToMode "normal"; }
    }
    shared_among "pane" "tmux" {
        bind "x" { CloseFocus; SwitchToMode "normal"; }
    }
    shared_among "scroll" "search" {
        bind "PageDown" { PageScrollDown; }
        bind "PageUp" { PageScrollUp; }
        bind "left" { PageScrollUp; }
        bind "down" { ScrollDown; }
        bind "up" { ScrollUp; }
        bind "right" { PageScrollDown; }
        bind "Ctrl b" { PageScrollUp; }
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "normal"; }
        bind "d" { HalfPageScrollDown; }
        bind "Ctrl f" { PageScrollDown; }
        bind "h" { PageScrollUp; }
        bind "j" { ScrollDown; }
        bind "k" { ScrollUp; }
        bind "l" { PageScrollDown; }
        bind "Alt s" { SwitchToMode "normal"; }
        bind "u" { HalfPageScrollUp; }
    }
    shared_among "renametab" "renamepane" {
        bind "Ctrl c" { SwitchToMode "normal"; }
    }
    shared_among "session" "tmux" {
        bind "d" { Detach; }
    }
}
